<div class="col-md-3 col-sm-6 col-xs-12">
  <%= link_to potepan_product_path(related_product.id) do %>
    <div class="productBox">
      <div class="productImage clearfix">
        <% if related_product.display_image.present? %>
          <%= image_tag(related_product.display_image.url(:product), alt: "products-img") %>
        <% end %>
      </div>
      <div class="productCaption clearfix">
        <h5><%= related_product.name %></h5>
        <h3><%= related_product.display_price %></h3>
      </div>
    </div>
  <% end %>
</div>
