<% provide(:title, @product.name) %>
<div class="main-wrapper">
  <%= render 'light_section', product: @product %>
  <section class="mainContent clearfix">
    <div class="container">
      <div class="row singleProduct">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-left productSlider">
              <div id="carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <% @product.images.each_with_index do |image, index| %>
                    <div class="item <%= "active" if index.zero? %>"  data-thumb="<%= index %>" >
                      <%= image_tag(image.attachment(:large)) %>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="clearfix">
                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                  <div class="carousel-inner">
                    <% @product.images.each_with_index do |image, index| %>
                      <div data-target="#carousel" data-slide-to=<%= index %>  class="thumb">
                        <%= image_tag(image.attachment(:small)) %>
                      </div>
                    <% end %>
                  </div>
                  <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>
            <%= render 'media_body', product: @product %>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="page-header">
          <h4>関連商品</h4>
        </div>
      </div>
      <div class="row productsContent related_products">
        <%= render partial: 'related_product', collection: @related_products %>
      </div>
    </div>
  </section>
</div>
