<div class="modal fade" id="login" tabindex="-1" role="dialog">
  <div class="modal-dialog">
　   <div class="modal-content">
  　   <div class="modal-header">
  　     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  　     <h3 class="modal-title">log in</h3>
  　   </div>
  　   <div class="modal-body">
  　     <form action="" method="POST" role="form">
  　       <div class="form-group">
  　         <label for="login-email">Enter Email</label>
  　         <input type="email" class="form-control" id="login-email">
  　       </div>
  　       <div class="form-group">
  　         <label for="login-password">Password</label>
  　         <input type="password" class="form-control" id="login-password">
  　       </div>
  　       <div class="checkbox">
  　         <label>
  　           <input type="checkbox"> Remember Me
  　         </label>
  　       </div>
  　       <button type="submit" class="btn btn-primary btn-block">log in</button>
  　       <button type="button" class="btn btn-link btn-block">Forgot Password?</button>
  　     </form>
  　   </div>
  　 </div>
  </div>
</div>